// Specific CSS for your home-page
.background-image {
  background-image: url("front-page.jpg");
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  opacity: 0.9;
  height: 100%;
}
.container {
  height: 100vh;
  position: relative;
}

.content {
  padding-top: 50px;
   margin: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   // position: absolute;               /* 2 */
   // top: 40%;                         /* 3 */
   // transform: translate(0, -40%)   /* 4 */
 }

.box {
  height: 225px;
  background-color: white;
  margin: 5px 5px;
  padding: 5px 5px;
  align-content: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.box h5 {
 font-weight: bold;
 font-size: 16px;
}

.p {
  font-weight: bold;
  font-size: 16px;
}

#my-btn {
  border: none;
  padding:8px;
  background-color: #E59C0E;
  width: 100%;
  margin: 10px 0;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  font-size: 24px;
}

.space-bottom-footer-home {
  min-height: calc(100vh - 55px);
}

.space-bottom-footer {
  min-height: calc(100vh - 55px - 72px);
}

.train-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .end-time {
    margin-right: 8px;
  }
}
