// Specific CSS for your home-page
.background-image {
  background-image: url("https://files.slack.com/files-pri/T02NE0241-FMJ9CP9CK/johannes-plenio-r4q07z12nu8-unsplash.jpg");
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  opacity: 0.9;
  height: 92vh;
}
.container {
  height: 100vh;
  position: relative;
}

.content {
  padding-top: 50px;
   margin: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   // position: absolute;               /* 2 */
   // top: 40%;                         /* 3 */
   // transform: translate(0, -40%)   /* 4 */
 }

.box {
  height: 225px;
  background-color: white;
  margin: 5px 5px;
  padding: 5px 5px;
  align-content: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.box h5 {
 font-weight: bold;
 font-size: 16px;
}

.p {
  font-weight: bold;
  font-size: 16px;
}

#my-btn {
  border: none;
  padding:8px;
  background-color: #E59C0E;
  width: 100%;
  margin: 10px 0;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  font-size: 24px;
}
