// Specific CSS for your home-page
.background-image {
  background-image: image-url("front-page.jpg");
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  opacity: 0.9;
  height: 100%;
}
.container {
  height: 100vh;
  position: relative;
}

.content {
  padding-top: 50px;
   margin: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   // position: absolute;               /* 2 */
   // top: 40%;                         /* 3 */
   // transform: translate(0, -40%)   /* 4 */
 }

.box {
  height: 225px;
  background-color: white;
  margin: 5px 5px;
  padding: 5px 5px;
  align-content: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.box h5 {
 font-weight: bold;
 font-size: 16px;
}

.p {
  font-weight: bold;
  font-size: 16px;
}

#my-btn {
  border: none;
  padding: 18px;
  background-color: #D90368;
  width: 100%;
  margin: 10px 0;
  color: white;
  font-family: 'Saira', sans-serif;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
}

#home-header {
  background-color: rgb(49, 37, 80);
  height: 22vh;
  // border-bottom-left-radius: 5px;
  // border-bottom-right-radius: 5px;
}

#home-header p {
  color: #fff;
  padding-left: 15vw;
  font-family: 'Saira', sans-serif;
  line-height: 30px;
  font-size: 48px;
}
.home-image {
  background-image: image-url("logo.svg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
}

.body {
  padding: 16px 20px;
  margin-top: 16px;

  p {
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    color: rgb(130, 130, 130);
    font-weight: 600;
  }
}

.input-container {
  position:relative;
  margin-bottom: 32px;
}

.spin {
  position:absolute;
  top:-50px;
  right:5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 17px;
  text-align: center;
  z-index: 999;
  color: rgb(49, 37, 80);

}

.home-input {
  height: 50px;
  border: none;
  width: 100%;
  border: 2px solid #541388 !important;
  border-radius: 3px;
  text-align: left;
  padding: 0 16px;
  font-family: 'Saira' !important;
  font-weight: 600 !important;
  background-color: #FFF !important;
  color: #444444;
}

.transition  {
  background-color: #D90368;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.drop-down {
  width: 208px;
}



