#search-card {
  background-color: #fff;
  border: none;
  text-align: left;
}

.search-header {
  color: rgb(130, 130, 130);
  padding: 5px 0 0 25px;
  margin: 0;
}

.search-result-container {
  display: flex;
}

.search-result-text {
  padding-right: 20px;
}

.search-location {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.search-time {
  font-size: 28px;
  color: #D90368;
}

.divider {
  width: 90%;
}

#search-results-form {
  text-align: left;
  padding: 0 20px;
}

#header-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

#no-results {
  color: rgb(130, 130, 130);
  text-align: center;
  padding-bottom: 10px;
}

.no-results-container {
  // padding-left: 22px;
  text-align: center;
  padding-bottom: 15px;
}

#search-btn {
  margin: 0 auto;
}
