<h1>Claims#show</h1>
<p>Find me in app/views/claims/show.html.erb</p>

<h1>Show Page New Claim</h1>
<p>From: <%= @claim.location_from %></p>
<p>To:   <%= @claim.location_to %></p>
<p>Time: <%= @claim.departure_time %></p>
<p>Date: needs to be coded</p>
<p>Delayed for: when done: claim.delay_duration in pe </p>
<% if @claim.reason_for_delay == "" %>
  <p>Info: Your train was on time!</p>
<% else %>
  <p>Info: Your train was delayed! Reason for Delay: <%= @claim.reason_for_delay %></p>
<% end %>
