<h1>Claims#show</h1>
<%= link_to "Add a ticket", new_ticket_path %>
<% current_user.tickets.each do |ticket| %>
<%#= cl_image_tag ticket.ticket_photo %>
<% end %>
<%= "Hello" %>
<p>Find me in app/views/claims/show.html.erb</p>
