<h1>Admin Dashboard</h1>
<div class="card-product">
  <div class="card-product-infos">
    <% @claims.each do |oneclaim| %>
<!--     <%= cl_image_tag ticket.photo, height: 100, width: 200, crop: :fill %> -->
      <p class="claim-content"><%= "From #{oneclaim.location_from} to #{oneclaim.location_to}"%></p>
      <p class="claim-content"><%= "At #{oneclaim.departure_time} on the #{oneclaim.departure_date}" %></p>
    <% end %>
  </div>
</div>
