<div id="footer">
  <ul id="footer-list">
    <li id="footer-list-item">
      <%= link_to "Login", profile_path  %>
    </li>
    <li id="footer-list-item">
      <%= link_to "FAQ", "#" %>
    </li>
    <li id="footer-list-item">
      <%= link_to "Terms of use", "#" %>
    </li>
  </ul>
</div>
