<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class=""><%= image_tag "logo.svg", id: "nav-logo" %></div>
  <!-- <h1><%= link_to "Repay the Delay", root_path, :id => "nav-heading" %></h1> -->
</div>
