<ul id="nav-list">
  <li class="nav-li">
    <%= link_to "Claims", claims_path, class: 'nav-link' %>
  </li>
  <li class="nav-li">
    <%  myname = current_user.first_name + "'s Profile" %>
    <%= link_to myname, profile_path, class: "nav-link" %>
  </li>
  <li class="nav-li">
    <%= link_to "Tickets", tickets_path, class: 'nav-link' %>
  </li>
</ul>



