<ul id="nav-list">
  <li class="nav-li">
    <%= link_to "Claims", claims_path, class: 'nav-btn' %>
  </li>
  <li class="nav-li">
    <%= link_to "Your Profile", profile_path, class: 'nav-btn' %>
  </li>
  <li class="nav-li">
    <%= link_to "Tickets", tickets_path, class: 'nav-btn' %>
  </li>
</ul>



