<ul id="nav-list">
  <li class="nav-li mb-1">
    <%= link_to "Claims", claims_path, class: 'nav-link' %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "My details", edit_user_registration_path, class: 'nav-link' %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "Evidence", tickets_path, class: 'nav-link' %>
  </li>
</ul>



