.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.swal-modal {
  padding-top: 80px;
  margin-top: 140px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.swal-icon  {
  // margin: 0;
  // padding: 0;

  // width: 500px;
}

.swal-icon:first-child {
  margin-top: 0;
}

// .sweet-gif {
//   margin: 0;
//   padding: 0;
//   width: 100px !important;
// }
