.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.swal-modal {
  // height: 33%;
  margin-top: 140px;
}

.swal-icon  {
  margin: 0;
}

.swal-icon:first-child {
  margin-top: 0;
}

