.yellow-user-btn {
  background-color: #E59C0E;
  font-weight: bold;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}

.submit-claim-button {
  background-color: #D90368;
  padding: 14px;
  font-weight: bold;
}

.yellow-add-photo-button {
  background-color: #FFD400;
  width: 45%;
  font-weight: bold;
  font-size: 12px;
}
