.yellow-user-btn {
  background-color: #E59C0E;
  font-weight: bold;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
}

.submit-claim-button {
  background-color: #D90368;
  padding: 14px;
  font-weight: bold;
  border-radius: 3px;
  border-style: none;
}

.yellow-add-photo-button {
  background-color: #FFD400;
  width: 45%;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  color: rgb(49, 37, 80);
}

.yellow-add-ticket-button {
  background-color: #FFD400;
  width: 110px;
  // font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  padding: 0px;
  padding-top: 6px;
  color: rgb(49, 37, 80);
}
