
#claims-headers {
  font-size: 26px;
  margin: 0;
  color: rgb(49,37,80);
  font-family: 'Saira', sans-serif;
  text-align: left;
  padding-left: 0px;
  font-weight: bold;
}



.card-product {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Saira', sans-serif;
  .card-product-infos {
    p {
      line-height: 1.4;
      margin-bottom: 5px;
      padding-left: 0px;
      color: #D90368;
      text-align: left;
      font-size: 16px;
    }
  }
}

.icon_column {
  margin-left: 10px;
  margin-top: 0px;
  min-width: 50px;
   p {
      margin-bottom: 2px;
      padding-left: 0px;
      color: rgb(49,37,80);
      text-align: right;
      font-size: 16px;
    }
}

#claims-details {
  font-size: 12px;
  color: rgb(130, 130, 130);
}

#summary-results {
  font-weight: bold;
  color: #D90368;
}

#summary-results-headers {
  color: rgb(49,37,80)
}

#money_icon {
  color: #FFD400;
  font-size: 26px;
  text-align: right;
}

#clock_icon {
  color: #D90368;
  font-size: 26px;
  text-align: right;
}

#chart_icon {
  color: rgb(49,37,80);
  font-size: 26px;
  text-align: right;
}
