.footer {
  background-color: #2E294E;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
  position: fixed;
  width: 100%;
  // left: 0;
  bottom: 0;
  height: 55px;
  font-family: 'Saira', sans-serif;
  font-size: 16px;
  font-weight: 600;
  }
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 18px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-item {
    white-space: nowrap;
}

.footer li {
  list-style: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

// .space-bottom-footer-home {
//   min-height: calc(100vh - 55px);
// }

// .space-bottom-footer {
//   min-height: calc(100vh - 55px - 90px);
// }

// .space-bottom-footer-claims {
//   min-height: calc(100vh - 200px);
// }

.train-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .end-time {
    margin-right: 8px;
  }
}
