#ticket_ticket {
  height: 50px !important;
  border: none !important;
  outline: none !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 65px 0 16px !important;
  height: 50px !important;
  border: 2px solid #541388 !important;
  border-radius: 3px !important;
  font-family: 'Saira' !important;
  font-weight: 600 !important;
}

.form-control-label {
  font-family: 'Saira' !important;
  font-size: 18px;
  font-weight: 600 !important;
}

.button-font-size {
  border: none;
  padding: 18px;
  background-color: #D90368;
  width: 100%;
  margin: 10px 0;
  color: white;
  font-family: 'Saira', sans-serif;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
