.navbar-lewagon {
  justify-content: space-around;
  background-color: #2E294E;
  color: #fff;
}

#nav-heading {
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

#nav-heading {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

#nav-list {
  margin-top: -2px;
}




