  svg {
    padding-left: 15px;
  }

.transition {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #D90368;
  visibility: hidden;

  img {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 200px;
      }
}

.path {
  stroke: #fff;
  stroke-width: 4px;
  /* Stroke-dasharray property */
  stroke-dasharray: 1353;
  stroke-dashoffset: 1353;

  animation: move 4s linear infinite;


}

@keyframes move {
    100% {
        stroke-dashoffset: 5;
    }
}

.dot {
  position: fixed;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #FFD400;
}

.dot:nth-child(1){
  animation: firststation 4s linear infinite;
  top: 160px;
  left: 24px;
}
.dot:nth-child(2){
  animation: secondstation 4s linear infinite;
  top: 275px;
  left: 132px;
}
.dot:nth-child(3){
  animation: thirdstation 4s linear infinite;
  top: 410px;
  left: 245px;
}
.dot:nth-child(4){
  animation: fourthstation 4s linear infinite;
  top: 600px;
  left: 203px;
}

@keyframes firststation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

    100% {
      opacity: 1;
    }
}

@keyframes secondstation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

    100% {
      opacity: 1;
    }
}

@keyframes thirdstation {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

    100% {
      opacity: 1;
    }
}

@keyframes fourthstation {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

    100% {
      opacity: 1;
    }
}
