.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 32px 48px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border: 2px solid #541388 !important;
  font-family: 'Saira' !important;
  font-size: 18px;
  font-weight: 600 !important;
}
