.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 26px 36px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  background: white;
  border: 2px solid #541388 !important;
  font-family: 'Saira' !important;
  font-size: 20px;
  font-weight: 600 !important;
  color: rgb(130, 130, 130);
}
