#nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #2E294E;
  padding: 0;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  opacity: 0.95;
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.nav-li {
  text-align: none;
}

