#nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #2E294E;
  padding: 0;
  font-family: 'Saira', sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: fixed;
  width: 100%;
  left: 0;
  top: 90;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  opacity: 0.95;
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.nav-li {
  text-align: none;
}

#active-selection {
  color: #BDBCB6;
}


.nav-link:active{ /*on click*/
    border:none;
    -ms-transform: translate(3px,3px);
    -webkit-transform: translate(3px,3px);
    transform: translate(3px,3px);/*move LowerRight*/
}

.user-nav-pad {
  height: 44px;
}
